

body {
    display: grid;
}

h1 {
    text-align: center;
    color   :cornflowerblue;
    font-size: 80px;

}
#food {
position: absolute;
top: 635px;
left: 340px;
width: 50px;
height: 20px;
border-radius: 5px;
}

#play {
position: absolute;
top: 650px;
left: 410px;
width: 50px;
height: 20px;
border-radius: 5px;
}

#sleep {
position: absolute;
top: 635px;
left: 470px;
width: 50px;
height: 20px;
border-radius: 5px;
}

#img {
    position: relative;
    /* display: block;
    margin-left: auto;
    margin-right: auto; */
    left: 150px;
}


#pet {
    position: absolute;
    top: 390px;
    left: 330px;
    width: 205px;
    height: 190px;
    margin: auto;
    background: url(https://mawges.com/res/games/catgotchi/icon512.png);
    color: black;
    background-size: 205px 205px;
    border-radius: 15px;
}


  #foodProgress {
    position: absolute;
    top: 395px;
    left: 335px;
    width: 35.25px;
    height: 20px;
    background-color: grey;
  }
  
  #foodBar {
    width: 100%;
    height: 20px;
    background-color:deepskyblue;
  }

  #boredProgress {
    position: absolute;
    top: 553px;
    left: 335px;
    width: 35.25px;
    height: 20px;
    background-color: grey;
  }
  
  #boredBar {
    width: 100%;
    height: 20px;
    background-color: deepskyblue;
  }

  #sleepProgress {
    position: absolute;
    top: 395px;
    left: 490px;
    width: 35.25px;
    height: 20px;
    background-color: grey;
  }
  
  #sleepBar {
    width: 100%;
    height: 20px;
    background-color: deepskyblue;
  }

  #age {
    position: absolute;
    top: 460px;
    left: 505px;
    z-index: 4;
  }

  .alert {
    position: absolute;
    text-align: center;
    top: 200px;
    left: 590px;
   font-size: 50px;
   
  } 

  #cake {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 450px;
    left: 490px;
    z-index: 1;
    opacity: 0.5;
    background-color: rgb(47, 132, 108);
    background: url(https://upload.wikimedia.org/wikipedia/commons/5/50/ASCII_cake.jpg);
  }